.charges-desc {
  color: #9b9b9b !important;
  font-size: 1.4rem !important;
}

.currency-desc {
  padding-left: 7rem !important;
  padding-right: 7rem !important;
}

.currency-desc h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.currency-image {
  padding: 0 3.9rem 0 3.9rem;
}
