.text-link {
  color: #387ed1 !important;
  font-size: inherit;
  text-decoration: none;
  font-weight: 500;
}

.text-link:hover,
.text-link:hover i {
  color: inherit !important;
}

.text-link i {
  color: #387ed1 !important;
  margin-left: 6px;
  font-size: 0.85em;
}

.tech-desc {
  font-size: 1.35rem;
}

.tech-info {
  font-size: 1.1rem;
}
